{% if league_settings.roster_quarterbacks > 0 %}
    {{ league_settings.roster_quarterbacks }}&nbsp;QB&nbsp;|
{% endif %}

{% if league_settings.roster_running_backs > 0 %}
    {{ league_settings.roster_running_backs }}&nbsp;RB&nbsp;|
{% endif %}

{% if league_settings.roster_wide_receivers > 0 %}
    {{ league_settings.roster_wide_receivers }}&nbsp;WR&nbsp;|
{% endif %}

{% if league_settings.roster_tight_ends > 0 %}
    {{ league_settings.roster_tight_ends }}&nbsp;TE&nbsp;|
{% endif %}

{% if league_settings.roster_flex_running_back_wide_receiver > 0 %}
    {{ league_settings.roster_flex_running_back_wide_receiver }}&nbsp;Flex RB/WR&nbsp;|
{% endif %}

{% if league_settings.roster_flex_wide_receiver_tight_end > 0 %}
    {{ league_settings.roster_flex_wide_receiver_tight_end }}&nbsp;Flex WR/TE&nbsp;|
{% endif %}

{% if league_settings.roster_flex_running_back_wide_receiver_tight_end > 0 %}
    {{ league_settings.roster_flex_running_back_wide_receiver_tight_end }}&nbsp;Flex RB/WR/TE&nbsp;|
{% endif %}

{% if league_settings.roster_offensive_players > 0 %}
    {{ league_settings.roster_offensive_players }}&nbsp;OP&nbsp;|
{% endif %}

{% if league_settings.roster_team_defense_special_teams > 0 %}
    {{ league_settings.roster_team_defense_special_teams }}&nbsp;DST&nbsp;|
{% endif %}

{% if league_settings.roster_kickers > 0 %}
    {{ league_settings.roster_kickers }}&nbsp;K&nbsp;|
{% endif %}

{% if league_settings.roster_bench_spots > 0 %}
    {{ league_settings.roster_bench_spots }}&nbsp;BN&nbsp;|
{% endif %}