{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/fantaSheets_logo_small_white.png' %}" class="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
            <li class="nav-item mr-3">
                <a class="nav-link" href="{% url 'index' %}">
                    <i class="fas fa-home"></i>
                    Home
                </a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="{% url 'about' %}">
                    <i class="fas fa-info-circle"></i>
                    About
                </a>
            </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item mr-3">        
                        <a class="nav-link" href="{% url "edit" %}">
                            <i class="fas fa-user-edit"></i>
                            {{ request.user.username }}
                        </a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{% url "dashboard" %}">
                            <i class="fas fa-flask"></i>
                            My fantaSheets
                        </a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{% url 'logout' %}?next={% url 'index' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{% url "register" %}">
                            <i class="fas fa-user-plus"></i>
                            Sign Up
                        </a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{% url "login" %}">
                            <i class="fas fa-sign-in-alt"></i>
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>