{% extends 'base.html' %}
{% load static %}
{% block title %} | My FantaSheets{% endblock title %}
{% block content %}
<!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <img src="{% static 'img/myFantaSheets.png' %}" class="myFantaSheets" alt="">
      </br>
      <a href="{% url 'create' %}" class="btn btn-primary">Create New</a>
      </br>
      </br>
      <div class="row">
        {% if league_settings %}
          {% for current_league_settings in league_settings %}  
              <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                  <div class="card-body">
                    <div class="listing-heading text-center">
                      <h4 class="text-primary">{{ current_league_settings.title }}</h4>
                      <p>{{ current_league_settings.league_hosting_site }}</p>
                    </div>
                    <hr>
                    <div class="row py-2 text-secondary">
                      <div class="col-6">
                        <i class="fas fa-football-ball"></i> PPR: 
                        {% if current_league_settings.receiving_receptions > 0 %}
                          <i class="fas fa-check"></i>
                        {% else %}
                          <i class="fas fa-times"></i>
                        {% endif %}</div>
                      <div class="col-6">
                        <i class="fas fa-football-ball"></i> Quarterback Touchdown: {{ current_league_settings.passing_touchdowns }}
                      </div>
                    </div>
                    <div class="row py-2 text-secondary">
                      <div class="col-6">
                        <i class="fas fa-football-ball"></i> Rushing Touchdown: {{ current_league_settings.rushing_touchdowns }}
                      </div>
                      <div class="col-6">
                        <i class="fas fa-football-ball"></i> Receiving Touchdown: {{ current_league_settings.receiving_touchdowns }}
                      </div>
                    </div>
                    <hr>
                    <div class="row py-2 text-secondary">
                      <div class="col-6">
                        <i class="fas fa-users"></i> Positions </br>
                        {% include 'partials/_footballPositionsString.html' with league_settings=current_league_settings %}
                      </div>
                    </div>
                    <hr>
                    <a href="{% url 'fantaSheet' current_league_settings.id %}" class="btn btn-primary btn-block">FantaSheet</a>
                  </div>
                </div>
              </div>
          {% endfor %}
        {% else %}
            <div class="col-md-12">
                <h4>You Have Not Saved Any Leagues Yet</h4>
            </div>
        {% endif %}
        <a href="{% url 'create' %}" class="btn btn-primary">Create New</a>
      </div>
    </div>
  </section>
{% endblock content %}