{% extends 'base.html' %}

{% block content %}
<!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Fantasy Drafts Just Got Easier
          </h1>
          <p class="lead">Cheat Sheets Formulated Entirely From Your Individual League Settings</p>
          <div class="search">
            <form action="search.html">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-3 mb-3">
                  <label class="sr-only">Teams</label>
                  <select name="number_of_teams" class="form-control">
                    <option selected="true" disabled="disabled">Teams</option>
                    <option value="0">4</option>
                    <option value="1">6</option>
                    <option value="2">8</option>
                    <option value="3">10</option>
                    <option value="0">12</option>
                    <option value="1">14</option>
                    <option value="2">16</option>
                  </select>
                </div>

                <div class="col-md-3 mb-3">
                  <label class="sr-only">PPR</label>
                  <select name="receiving_receptions" class="form-control">
                    <option selected="true" disabled="disabled">PPR</option>
                    <option value="0">None</option>
                    <option value=".5">Half Point</option>
                    <option value="1">Full Point</option>
                  </select>
                </div>

                <div class="col-md-3 mb-3">
                  <label class="sr-only">Passing Touchdown</label>
                  <select name="passing_touchdowns" class="form-control">
                    <option selected="true" disabled="disabled">Passing TDs</option>
                    <option value="4">4</option>
                    <option value="6">6</option>
                  </select>
                </div>
                
                <div class="col-md-3 mb-3">
                  <label class="sr-only">Flex</label>
                  <select name="roster_flex" class="form-control">
                    <option selected="true" disabled="disabled">Flex</option>
                    <option value="none">None</option>
                    <option value="roster_flex_running_back_wide_receiver">Flex RB/WR</option>
                    <option value="roster_flex_running_back_wide_receiver_tight_end">Flex RB/WR/TE</option>
                    <option value="roster_flex_wide_receiver_tight_end">Flex WR/TE</option>
                    <option value="roster_offensive_player">Offensive Player</option>
                  </select>
                </div>                
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-3 mb-3">
                  <label class="sr-only">QBs</label>
                  <select name="roster_quarterbacks" class="form-control">
                    <option selected="true" disabled="disabled">QBs</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>

                <div class="col-md-3 mb-3">
                  <label class="sr-only">RBs</label>
                  <select name="roster_running_backs" class="form-control">
                    <option selected="true" disabled="disabled">RBs</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>

                <div class="col-md-3 mb-3">
                  <label class="sr-only">WRs</label>
                  <select name="roster_wide_receivers" class="form-control">
                    <option selected="true" disabled="disabled">WRs</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>

                <div class="col-md-3 mb-3">
                  <label class="sr-only">TEs</label>
                  <select name="roster_tight_ends" class="form-control">
                    <option selected="true" disabled="disabled">TEs</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Create FantaSheet</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Standard Leagues</h3>
      <div class="row">
          {% for default_sheet in default_sheets|slice:':3' %}  
              {% include 'partials/_listing.html' with listing=default_sheet %}
          {% endfor %}
      </div>
    </div>
  </section>

  <!-- Services -->
  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-sticky-note fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-project-diagram fa-4x mr-4"></i>
          <hr>
          <h3>Propery Management</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-trophy fa-4x mr-4"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}