{% extends "base.html" %}
{% block title %} | Settings Input{% endblock title %}
{% block content %}
  <section id="create" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-edit"></i> Create</h4>
            </div>
            <div class="card-body">
              <!-- Alerts -->
              {% include 'partials/_alerts.html' %}
              <form id="league_settings" action="{% url 'create' %}" method="POST">
                {% csrf_token %}
                {% for field in league_settings_form %}
                  <div class="form-group {{ field.name|slice:':4' }}">
                      {{ field.errors }}
                      {{ field.label_tag }} {{ field }}
                      {% if field.help_text %}
                      <p class="help">{{ field.help_text|safe }}</p>
                      {% endif %}
                  </div>
                {% endfor %}
                {% if user.is_authenticated %}
                  <input type="hidden" name="owner" value="{{ user.id }}" id="id_owner">
                {% else %}
                  <input type="hidden" name="owner" value="0" id="id_owner">
                {% endif %}
                <input type="submit" value="Create fantaSheet" class="btn btn-secondary btn-block">
              </form>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block javascript %}
  <script type="text/javascript">
        $(document).ready(function () {
            $('#id_league_hosting_site').focus();

            $('#league_settings *').filter(':input').each(function(){
              if ($(this).val() == 0) {
                $(this).val('');
              }
            });
            
            //Original Settings Hide/Show
            $('.rost').toggle();
            $('.pass').toggle();
            $('.rush').toggle();
            $('.rece').toggle();
            $('.dst_').toggle();
            $('.indi').toggle();
            $('.kick').toggle();

            var passing = ($('#id_roster_quarterbacks').val() + $('#id_roster_offensive_players').val()) > 0;
            $('.pass').toggle(passing);

            var rushing = ($('#id_roster_quarterbacks').val() + $('#id_roster_running_backs').val() + $('#id_roster_wide_receivers').val() + $('#id_roster_tight_ends').val() + $('#id_roster_offensive_players').val() + $('#FlexRBWR').val() + $('#FlexRBWRTE').val()) > 0;
            $('.rush').toggle(rushing);

            var receiving = ($('#id_roster_running_backs').val() + $('#id_roster_wide_receivers').val() + $('#id_roster_tight_ends').val() + $('#id_roster_offensive_players').val() + $('#FlexRBWR').val() + $('#FlexRBWRTE').val()) > 0;
            $('.rece').toggle(receiving);

            var misc = ($('#id_roster_quarterbacks').val() + $('#id_roster_running_backs').val() + $('#id_roster_wide_receivers').val() + $('#id_roster_tight_ends').val() + $('#id_roster_offensive_players').val() + $('#FlexRBWR').val() + $('#FlexRBWRTE').val() + $('#IDP').val()) > 0;
            $('.miscSettings').toggle(misc);

            var kicking = $('#id_roster_kickers').val() > 0;
            $('.kick').toggle(kicking);

            var defense = $('#id_roster_team_defense_special_teams').val() > 0;
            $('.dst_').toggle(defense);

            var indDefense = $('#IDP').val() > 0;
            $('.iDPSettings').toggle(indDefense);

            $('#id_number_of_teams').change(function () {
              var roster = $('#id_number_of_teams').val() > 0;
              $('.rost').toggle(roster);
            })

            $("#id_roster_quarterbacks").change(function () {
                var passing = ($('#id_roster_quarterbacks').val() + $('#id_roster_offensive_players').val()) > 0;
                $('.pass').toggle(passing);

                var rushing = ($('#id_roster_quarterbacks').val() + $('#id_roster_running_backs').val() + $('#id_roster_wide_receivers').val() + $('#id_roster_tight_ends').val() + $('#id_roster_offensive_players').val() + $('#FlexRBWR').val() + $('#FlexRBWRTE').val()) > 0;
                $('.rush').toggle(rushing);
            }); //End Passing Only Click

            $("#id_roster_running_backs, #id_roster_wide_receivers, #id_roster_tight_ends, #FlexRBWR, #FlexRBWRTE").change(function () {
                var rushing = ($('#id_roster_quarterbacks').val() + $('#id_roster_running_backs').val() + $('#id_roster_wide_receivers').val() + $('#id_roster_tight_ends').val() + $('#id_roster_offensive_players').val() + $('#FlexRBWR').val() + $('#FlexRBWRTE').val()) > 0;
                $('.rush').toggle(rushing);

                var receiving = ($('#id_roster_running_backs').val() + $('#id_roster_wide_receivers').val() + $('#id_roster_tight_ends').val() + $('#id_roster_offensive_players').val() + $('#FlexRBWR').val() + $('#FlexRBWRTE').val()) > 0;
                $('.rece').toggle(receiving);
            }); //End Rushing/Receiving Click

            $("#id_roster_offensive_players").change(function () {
                var passing = ($('#id_roster_quarterbacks').val() + $('#id_roster_offensive_players').val()) > 0;
                $('.pass').toggle(passing);

                var rushing = ($('#id_roster_quarterbacks').val() + $('#id_roster_running_backs').val() + $('#id_roster_wide_receivers').val() + $('#id_roster_tight_ends').val() + $('#id_roster_offensive_players').val() + $('#FlexRBWR').val() + $('#FlexRBWRTE').val()) > 0;
                $('.rush').toggle(rushing);
                var receiving = ($('#id_roster_running_backs').val() + $('#id_roster_wide_receivers').val() + $('#id_roster_tight_ends').val() + $('#id_roster_offensive_players').val() + $('#FlexRBWR').val() + $('#FlexRBWRTE').val()) > 0;
                $('.rece').toggle(receiving);
            }); //End All Offense click

            $("#id_roster_quarterbacks, #id_roster_running_backs, #id_roster_wide_receivers, #id_roster_tight_ends, #FlexRBWR, #FlexRBWRTE, #id_roster_offensive_players, #IDP").change(function () {
                var misc = ($('#id_roster_quarterbacks').val() + $('#id_roster_running_backs').val() + $('#id_roster_wide_receivers').val() + $('#id_roster_tight_ends').val() + $('#id_roster_offensive_players').val() + $('#FlexRBWR').val() + $('#FlexRBWRTE').val() + $('#IDP').val()) > 0;
                $('.miscSettings').toggle(misc);

            }); //End Misc Settings click

            $("#id_roster_kickers").change(function () {
                var kicking = $('#id_roster_kickers').val() > 0;
                $('.kick').toggle(kicking);

            }); //End Kicking Settings click

            $("#id_roster_team_defense_special_teams").change(function () {
                var defense = $('#id_roster_team_defense_special_teams').val() > 0;
                $('.dst_').toggle(defense);

            }); //End DST Settings click

            $("#IDP").change(function () {
                var indDefense = $('#IDP').val() > 0;
                $('.iDPSettings').toggle(indDefense);
            }); //End IDP Settings click
        }); //End Ready
  </script>
{% endblock javascript %}