{% extends "base.html" %}
{% block title %} | Settings Input{% endblock title %}
{% block content %}
  <section id="create" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-edit"></i> Create</h4>
            </div>
            <div class="card-body">
              <!-- Alerts -->
              {% include 'partials/_alerts.html' %}
              <form id="league_settings" action="{% url 'create' %}" method="POST">
                {% csrf_token %}
                {% for field in league_settings_form %}
                  <div class="form-group {{ field.name|slice:':4' }}">
                      {{ field.errors }}
                      {{ field.label_tag }} {{ field }}
                      {% if field.help_text %}
                      <p class="help">{{ field.help_text|safe }}</p>
                      {% endif %}
                  </div>
                {% endfor %}
                {% if user.is_authenticated %}
                  <input type="hidden" name="owner" value="{{ user.id }}" id="id_owner">
                {% else %}
                  <input type="hidden" name="owner" value="0" id="id_owner">
                {% endif %}
                <input type="submit" value="Create fantaSheet" class="btn btn-secondary btn-block">
              </form>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block javascript %}
  <script type="text/javascript">
        $(document).ready(function () {
            $('#id_league_hosting_site').focus();
            
            //Hide all settings till needed
            $('.rost').toggle();
            hide_settings_not_needed();

            // Show settings when needed
            $('#id_number_of_teams').change(function () {
              var roster = $('#id_number_of_teams').val() > 0;
              $('.rost').toggle(roster);
            });

            $('.rost').click(function() {
              hide_settings_not_needed();
            })

            $('.rost').change(function () {
              hide_settings_not_needed();              
            });

            function hide_settings_not_needed() {
              // toggle passing settings
              var passing_settings_needed =
                ($('#id_roster_offensive_players').val() + 
                $('#id_roster_quarterbacks').val()) > 0;
              $('.pass').toggle(passing_settings_needed);

              // toggle rushing settings
              var rushing_settings_needed =
                ($('#id_roster_offensive_players').val() + 
                $('#id_roster_quarterbacks').val() +
                $('#id_roster_running_backs').val() +
                $('#id_roster_wide_receivers').val() +
                $('#id_roster_tight_ends').val() +
                $('#id_roster_flex_running_back_wide_receiver').val() +
                $('#id_roster_flex_running_back_wide_receiver_tight_end').val() + 
                $('#id_roster_flex_wide_receiver_tight_end').val()) > 0;
              $('.rush').toggle(rushing_settings_needed);
            
              // toggle receiving settings
              var receiving_settings_needed =
                ($('#id_roster_offensive_players').val() + 
                $('#id_roster_running_backs').val() +
                $('#id_roster_wide_receivers').val() +
                $('#id_roster_tight_ends').val() +
                $('#id_roster_flex_running_back_wide_receiver').val() +
                $('#id_roster_flex_running_back_wide_receiver_tight_end').val() + 
                $('#id_roster_flex_wide_receiver_tight_end').val()) > 0;
              $('.rece').toggle(receiving_settings_needed);

              // toggle individual settings
              var individual_settings_needed =
                ($('#id_roster_offensive_players').val() + 
                $('#id_roster_quarterbacks').val() +
                $('#id_roster_running_backs').val() +
                $('#id_roster_wide_receivers').val() +
                $('#id_roster_tight_ends').val() +
                $('#id_roster_flex_running_back_wide_receiver').val() +
                $('#id_roster_flex_running_back_wide_receiver_tight_end').val() + 
                $('#id_roster_flex_wide_receiver_tight_end').val()) > 0;
              $('.indi').toggle(individual_settings_needed); 

              // toggle dst settings
              var defense_on_roster = $('#id_roster_team_defense_special_teams').val() > 0;
              $('.dst_').toggle(defense_on_roster);

              // toggle kicking settings
              var kicker_on_roster = $('#id_roster_kickers').val() > 0;
              $('.kick').toggle(kicker_on_roster);

              // toggle idp settings
              var IDP_on_roster = $('#id_roster_defensive_players').val() > 0;
              $('.idp_').toggle(IDP_on_roster);

              // toggle punter settings  
            }
        }); //End Ready
  </script>
{% endblock javascript %}