{% extends "base.html" %}
{% load static %}
{% block title %} | {{ league_settings.title }}{% endblock title %}
{% block content %}
    <div class='fantaSheet'>
        <h4 class="centered noPadding">
            <a target="_blank" href="http://www.preNotions.com"><img class="ad" src="{% static 'img/preNotions Ad.png' %}" /></a> <img class="printAd" src="{% static 'img/preNotions Ad.png' %}" /><span class="fantaSheetName">{{ league_settings.title }}</span><img class="fantaSheetLogo" src="{% static 'img/FantaSheets Small No Back.png' %}" />
        </h4>
        <p class="updated">Last Updated: @ViewBag.updatedDate / All Stats are Projections</p>
        <p class="updated"><sup>c</sup> = Contract Year / <sup>r</sup> = Rookie / <sup>sspd-#</sup> = Suspended - # Games / <sup>inj-#</sup> = Injured - Proj # Games Missed</p>
        <p class="updated">FSR = FantaSheet Rank / DV = Draft Value / WP = Weekly Projected (16 Weeks, Unless Otherwise Noted)</p>
        {% for player in fantaSheet_values %}

            <p>
                {{ forloop.counter }} - {{ player.name }}, 
                {{ player.team }},
                {{ player.bye_week }},
                {{ player.position }}, 
                {{ player.projected_points | floatformat:2 }},
                {{ player.value | floatformat:2 }},
                {{ player.position_rank }} 
                <!--{{ player.projections.rushing_yards }}-->
            </p>

        {% endfor %}
    </div>
{% endblock content %}

