/*!
* Original from Python Django Dev to Deployment
* https://github.com/PacktPublishing/Python-Django-Dev-To-Deployment/blob/master/S04/1%20-%20Project%20Resources%20%26%20Requirements/btre_resources.zip
*/

.btn-secondary {
    color: #fff !important;
}

img {
    width: 100%;
}

.logo {
    width: 80px;
}

.myFantaSheets {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    opacity: 0.9;
    text-transform: uppercase;
}

.social a {
    margin-right: 0.4rem;
}

#showcase {
    background-image: url("../img/stadium_background.cdba9eb59565.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 650px;
    color: #fff;
    padding-top: 6rem;
}

#showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px;
}

#showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8);
}

#services {
    background: url("../img/fantaSheets_small_no_back.06ce1fca7b4e.png") no-repeat top center fixed/cover;
    min-height: 300px;
    position: relative;
    overflow: hidden;
}

#services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8);
}

#showcase-inner {
    background: url("../img/fantaSheets_small_no_back.06ce1fca7b4e.png") no-repeat top center fixed/cover;
    position: relative;
    overflow: hidden;
    min-height: 200px;
}

#showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8);
}

#showcase-inner.showcase-search {
    min-height: 270px;
}

#work {
    padding: 6rem 0;
}

.listing-preview a {
    position: relative;
}

@media (max-width: 991px) {
    #showcase {
        padding-top: 4rem;
    }
    #showcase h1 {
        font-size: 40px;
    }
    .hide-md-down {
        display: none;
    }
}

@media (max-width: 768px) {
    #showcase {
        padding-top: 3rem;
    }
    #showcase h1 {
        font-size: 40px;
    }
    #showcase p {
        display: none;
    }
    #top-bar {
        text-align: center;
    }
    #top-bar .social {
        text-align: center !important;
    }
}

@media (max-width: 576px) {
    #showcase h1 {
        font-size: 30px;
    }
    #showcase-inner h1 {
        font-size: 40px;
    }
}


/*------------ FantaSheet CSS -----------------------------------*/

.tableFantaSheet tr:nth-child(odd),
.tableFantaSheetDetailed tr:nth-child(odd),
.tableFantaSheetNotes tr:nth-child(odd),
.tableFantaSheetSimple tr:nth-child(odd),
.tableList tr:nth-child(odd),
.notesTable tr:nth-child(odd),
.formSettings tr:nth-child(odd) {
    background: #d9dce2;
}

.tableFantaSheet th,
.tableFantaSheetDetailed th,
.tableFantaSheetNotes th,
.tableFantaSheetSimple th,
.tableList th,
.notesTable th,
.formSettings {
    background: #fff;
    font-weight: bold;
}

.tableHeaders {
    width: 100%;
    font-size: 10px;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.fantaSheetLogo {
    width: 160px;
    height: 75px;
    padding-bottom: -25px;
}

.ad {
    width: 160px;
    height: 75px;
    padding-bottom: -25px;
}

.printAd {
    display: none;
}

.updated {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 80%;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
    line-height: 1;
}

.tableList {
    table-layout: fixed;
    font-size: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.25;
    display: table;
    border-bottom: 1.5px solid #292627;
    border-top: 1.5px solid #292627;
}

.tableList tD {
    padding: .5% 0;
    display: table-cell;
    vertical-align: middle;
}

.centered {
    text-align: center;
}

.navbar img,
.navbar .noPadding,
h4.noPadding {
    padding: 0;
    margin: 0;
}

.columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;
    column-fill: balance;
    -webkit-column-gap: 1px;
    -moz-column-gap: 1px;
    column-gap: 1px;
    -webkit-column-rule: 1px solid black;
    -moz-column-rule: 1px solid black;
    column-rule: 1px solid black;
    border: 1px solid black;
}

.columns p {
    font-size: 80%;
    padding-bottom: 0;
}

.fantaSheet {
    min-height: 90%;
    margin: 0 10% 0 10%;
    background-color: #ffffff;
    padding: 42px 10% 2% 10%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}